//Estils afegits 1 
body { 
    font-family: Roboto, "Helvetia Neue", sans-serif;
    background-color: rgb(38, 37, 42); 
    padding-top: 60px; 
    height: 100%; 
} 
body * { 
    font-family: Roboto, "Helvetia Neue", sans-serif; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}